.AboutImage {
    display: flex;
}



.AboutImage .FullImage {
    display: flex;
    justify-content: center;
    margin-right: 25px;

}


.AboutImage .FullImage img {
    width: 240px;
    height: 215px;
    border-radius: 18px;
    margin: auto;
}


.HafeImages .BigImag img {
    width: 330px;
    height: 300px;
    border-radius: 18px;
    margin-bottom: 25px;
}


.HafeImages .SmallImag img {
    width: 235px;
    height: 215px;
    border-radius: 18px;
}



.AboutText h3{
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 24px;
    font-weight: 500;
    color: #FD8C1C;
    font-family: 'Montserrat', sans-serif;   
    margin: 0px; 
}



.AboutText h2 {
    color: #000D21;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 508px;
    margin-top: 30px;
    margin-bottom: 55px;
    
}



.AboutText p {
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    width: 613px;
    margin: 0px;
    margin-bottom: 30px;
    line-height: 40px;
}



.AboutBox {
    display: flex;
}


.Design {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background: #F7F7F7;
    text-align: center;
    margin-right: 35px;
}


.Design img {
    width: 52px;
    height: 52px;
    margin-top: 25px;
}




.Design h4 {
    font-size: 20px;
    color: rgb(0, 13, 33);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: 30px;
    line-height: 30px;
    text-align: center;
}