.Services {
    padding: 100px 0px;
    position: relative;



}



.ServicesBanner {
    background: url("../../../Images/Services/Path\ 136.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 939px;
    height: 829px;
    position: absolute;
    top: 310px;
    left: 0;
    z-index: -1;
    left: 0px;

}


.ServicesItamAll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;

}

.Services h3 {
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 24px;
    font-weight: 500;
    color: #FD8C1C;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 30px;

}




.Services h2 {
    color: #000D21;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 439px;
    margin: 0px;
    margin-bottom: 49px;

}


.Services p {
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 613px;
    line-height: 40px;
    margin-bottom: 49px;
    margin-top: 0px;
}



.ServicesItam {
    width: 408px;
    height: 290px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 6px 6px 30px #0000001A;
    margin-top: 38px !important;
    padding: 0px !important;
    text-align: center;
    margin-right: 38px !important;
    cursor: pointer;
    background-size: 50.1% var(--p, .08em);
    transition: .1s var(--t, 0s), background-position .1s calc(.1s - var(--t, 0s));

}



.ServicesItam:hover {
    background: transparent linear-gradient(129deg, #DE05CB 0%, #0057F5 100%) 0% 0% no-repeat padding-box;
    background-size: 100% var(--p, .08em);
    transition: .1s var(--t, 0s), background-position .1s calc(.1s - var(--t, 0s));
    --p: 101%;
    --t: 0.3s;
    color: #980e0e;


}


.ServicesItam:hover img {
    background: #ffffff;
    border-radius: 50%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}


.ServicesItam:hover h4 {
    color: #FFFFFF;
}


.ServicesItam:hover p {
    color: #FFFFFF;
}




.ServicesItam h4 {
    color: #000D21;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    margin-bottom: 20px;
    transition: all linear .3s;


}


.ServicesItam p {
    color: #000D21;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    transition: all linear .3s;

}





.ServicesItam img {
    margin-top: 27px;
    margin-bottom: 20px;
    transition: all linear .8s;
}