.OurValues {
    background-image: url(../../../Images/Banner/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}



.OurValues .OurValuesCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


.OurValuesCard .Card h4{
    font-size: 25px;
    font-weight: 700;
    color: #000D21;
    letter-spacing: 4px;
    font-family: 'PT Serif', serif;
}



 .Card p{
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    width: 334px;
}