.OurValues {
    background-image: url(../../../Images/Banner/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}


.OurValuesText h3{
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 24px;
    font-weight: 500;
    color: #FD8C1C;
    font-family: 'Montserrat', sans-serif;    
}



.OurValuesText h2{
    color: #000D21;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 439px;
    margin: 0px;
      
}


.OurValues .OurValuesCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


.OurValuesCard .Card h4{
    font-size: 25px;
    font-weight: 700;
    color: #000D21;
    letter-spacing: 4px;
    font-family: 'PT Serif', serif;
}



 .Card p{
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    width: 334px;
}