

.Testimonial{
    padding: 100px 0px;
    text-align: center;
}


.TestimonoalsAll{
    display: flex;
}

.Testimonial h3{
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 24px;
    font-weight: 500;
    color: #FD8C1C;
    font-family: 'Montserrat', sans-serif;    
}


.Testimonial h2{
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 60px;
    font-weight: 700;
    color: #000D21;
    font-family: 'Montserrat', sans-serif;

    
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
    width: 400px;
    cursor: pointer;
    margin-left: 100px;
}
  

  #shadow-effect p {
    font-family: "Montserrat";
    font-size: 20px;  
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 4px;
    width: 200px;
  
  
  }
  
  
  
  
  
  .img-circle {
    border-radius: 50%;
    vertical-align: middle;
    max-width: 90px;
    min-height: 90px;
    transform-style: preserve-3d;
    display: inline-block !important;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  
  #customer-testimonoals {
    margin-top: 6%;
    
  }
  
 

  #customer-testimonoals .item {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    filter: blur(2px);
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
    z-index: -2 !important;
    margin-left: 0px;
}




  .owl-item.active{
      margin-left: -50px !important;
  }

  #customer-testimonoals .owl-item.active.center{
    z-index: 2 !important;
  }
  


  #customer-testimonoals .owl-item.active.center .item {
    filter: blur(0px);
    transform: scale3d(1.0, 1.0, 1);
    z-index: 2 !important;
    
    
  }
  
  
  .item .shadow-effect p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 29px;
    letter-spacing: 2px;
    width: 300px;
    margin: auto;
  }
  
  
  .shadow-effect h3 {
    color: #FD8C1C;
    display: inline-block;
    margin-left: 45px;
    font-size: 20px;
    letter-spacing: 4px;
  }
  


  
  .shadow-effect h4 {
    color: black;
    font-size: 20px;
    margin: 0px;
    margin-left: 190px;
    margin-top: -40px;
    margin-bottom: 50px;
  }