body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}


.Container {
    width: 1300px;
    outline: 0;
    margin: 0 auto;
    padding: 0px;
}


.DefultColor {
    color: #FD8C1C;
}


/* Slider */
.sliderContentContainer>.sliderContent {
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s linear;
    margin-bottom: 20px;
}